<div class="twitter-important">
  <div class="twitter-icons-grid">
    <div class="icons-grid">
      <div class="icons-main">
        <div class="icon-logo">
          <svg
            id="logo-tt"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-twitter"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            />
          </svg>
        </div>

        <div class="icons">
          <app-icons-main [icons]="'Página Inicial'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-house"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
              />
              <path
                fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
              />
            </svg>
          </app-icons-main>

          <app-icons-main [icons]="'Explorar'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </app-icons-main>
          <app-icons-main [icons]="'Notificação'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-bell"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
              />
            </svg>
          </app-icons-main>
          <app-icons-main [icons]="'Mensagens'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
          </app-icons-main>

          <app-icons-main [icons]="'Itens salvos'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-box-arrow-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"
              />
              <path
                fill-rule="evenodd"
                d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"
              />
            </svg>
          </app-icons-main>
          <app-icons-main [icons]="'Listas'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-clipboard"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
              />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
              />
            </svg>
          </app-icons-main>
          <app-icons-main [icons]="'Perfil'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-person"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
              />
            </svg>
          </app-icons-main>
          <app-icons-main [icons]="'Mais'">
            <svg
              id="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-gear-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
              />
            </svg>
          </app-icons-main>
        </div>
      </div>
      <div class="button-main">
        <div class="button-prohibited">
          <button class="button-click">
            <h3 class="button-text">Tweetar</h3>
          </button>
        </div>
      </div>
      <div class="profile-main">
        <div class="profile-user">
          <img class="user" src="../../assets/gg.jpg" alt="" />
        </div>
        <div class="profile-description">
          <app-user [nick]="'Diamante Negro'"></app-user>
          <app-user [user]="'@Allify Gabriel'"></app-user>
        </div>
        <div class="profile-most">
          <svg
            id="most"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-chat-square-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
            <path
              d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="twitter-feed-grid">
    <div class="feed-navbar">
      <div class="navbar-feed-profile">
        <div class="inicial">
          <h3 class="incial-text">Página Inicial</h3>
        </div>
        <div class="navbar-icon">
          <svg
            id="icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-moon-stars"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
            />
            <path
              d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="scrol">
      <div class="twittar-feed-reels">
        <div class="profile-photo">
          <img class="image-profile" src="../../assets/paisagem.jpg" alt="" />
        </div>
        <div class="twittar">
          <input
            type="text"
            id="twittar-text"
            placeholder="O que está acontecendo?"
          />
        </div>
        <div class="button-twittar"></div>
      </div>
      <div class="twittes">
        <div class="twittes-icons">
          <div class="icons"><app-icons-twittar></app-icons-twittar></div>
          <div class="button-twittar">
            <button class="button"><p class="button-text">Twettar</p></button>
          </div>
        </div>
      </div>
    </div>

    <div class="feed">
      <div class="feed-scrol-grid" *ngFor="let feed of urlTwitter">
        <div class="feed-image">
          <img id="image" [src]="feed.image" alt="" />
        </div>
        <div class="feed-listname">
          <h3 class="name">{{ feed.name }}</h3>
          <h3 class="title">{{ feed.title }}</h3>
        </div>
        <div class="icon">
          <svg
            id="icon"
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-chat-left-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
            <path
              d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
        </div>
      </div>
      <app-icons-feed></app-icons-feed>
    </div>
  </div>
  <div class="twitter-news-grid">
    <div class="news-grids">
      <div class="news-search">
        <div class="test">
          <svg
            id="search"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <input
            placeholder="Buscar no Twitter"
            type="text"
            name=""
            id="news-input"
          />
        </div>
      </div>
      <div class="news-rising">
        <div class="rising-gris">
          <div class="rising-grid-title">
            <app-top-news [title]="'O que está acantecendo'"></app-top-news>
          </div>
          <div class="grid-top-news">
            <div class="news">
              <app-top-news
                [subtitle]="'O que está acantecendo '"
              ></app-top-news>
              <app-top-news
                [topNews]="'Chapter Ninety-Nine: The Witching Hour(s) '"
              ></app-top-news>
              <app-top-news
                [subtitle]="'Assuntos do Momento:Dynho, #RoçaAFazenda'"
              ></app-top-news>
            </div>
            <div class="image-top">
              <img class="image" src="../../assets/gg.jpg" alt="" />
            </div>
          </div>
          <div class="rising-grid-top-news-dad">
            <div class="dad-grid-one">
              <div class="top-news-son">
                <app-top-news [topNews]="'#ChampionsNaHBOMax'"></app-top-news>
                <app-top-news
                  [subtitle]="
                    'Jogos da última rodada ao vivo
                    Promovido por HBO Max Brasil'
                  "
                ></app-top-news>
              </div>
            </div>
            <div class="dad-grid-second">
              <div class="top-news-son">
                <app-top-news
                  [subtitle]="'Cristiano Ronaldo · Assunto do Momento'"
                ></app-top-news>
                <app-top-news [topNews]="'Cristiano Ronaldo'"></app-top-news>
                <app-top-news [subtitle]="'52,9 mil Tweets'"></app-top-news>
              </div>
              <div class="news-icons">
                <svg
                  id="most"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-chat-square-dots"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                  />
                  <path
                    d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                  />
                </svg>
              </div>
              <div class="top-news-son">
                <app-top-news
                  [subtitle]="'Rap · Assunto do Momento'"
                ></app-top-news>
                <app-top-news [topNews]="'Matue'"></app-top-news>
                <app-top-news [subtitle]="'52,1 mil Tweets'"></app-top-news>
              </div>
              <div class="news-icons">
                <svg
                  id="most"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-chat-square-dots"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                  />
                  <path
                    d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                  />
                </svg>
              </div>
            </div>
            <div class="dad-grid-third">
              <div class="news">
                <app-top-news
                  [subtitle]="'O que está acantecendo '"
                ></app-top-news>
                <app-top-news
                  [topNews]="'Chapter Ninety-Nine: The Witching Hour(s) '"
                ></app-top-news>
                <app-top-news
                  [subtitle]="'Assuntos do Momento:Dynho, #RoçaAFazenda'"
                ></app-top-news>
              </div>
              <div class="image-top">
                <img class="image" src="../../assets/paisagemBD.jpg" alt="" />
              </div>
            </div>
            <div class="dad-grid-bedroom">
              <a [routerLink]="['/routePath']" id="bedroom-link"
                >Mostrar Mais</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="news-follow">
        <app-top-news [title]="'Quem seguir'"></app-top-news>
        <div class="follow-grids">
          <div class="grids-profile">
            <img id="image" class="user" src="../../assets/gg.jpg" alt="" />
          </div>
          <div class="grids-user-subtitle">
            <app-top-news [topNews]="'One pice da Depre'"></app-top-news>
            <app-top-news [subtitle]="'@One pice da Depre'"></app-top-news>
          </div>
          <div class="grids-button">
            <app-button-follow></app-button-follow>
          </div>
        </div>
        <div class="follow-grids">
          <div class="grids-profile">
            <img
              id="image"
              class="user"
              src="../../assets/paisagem.jpg"
              alt=""
            />
          </div>
          <div class="grids-user-subtitle">
            <app-top-news [topNews]="'Digital Peace Now'"></app-top-news>
            <app-top-news [subtitle]="'@DigitalPeaceNow'"></app-top-news>
          </div>
          <div class="grids-button">
            <app-button-follow></app-button-follow>
          </div>
        </div>
        <div class="follow-grids">
          <div class="grids-profile">
            <img
              id="image"
              class="user"
              src="../../assets/paisagemBD.jpg"
              alt=""
            />
          </div>
          <div class="grids-user-subtitle">
            <app-top-news [topNews]="' Overtime'"></app-top-news>

            <app-top-news [subtitle]="'@overtime'"></app-top-news>
          </div>
          <div class="grids-button">
            <app-button-follow></app-button-follow>
          </div>
        </div>
        <div class="link">
          <a [routerLink]="['/routePath']" id="link">Mostrar Mais</a>
        </div>
      </div>
    </div>
    <div class="rodape">
      <app-rodape
        [rodapeText]="'Termos de Serviço  &    Política de cookies'"
      ></app-rodape>
      <app-rodape
        [rodapeText]="'Política de Privacidade &  Informações de anúncios'"
      ></app-rodape>
      <app-rodape
        [rodapeText]="'Mais &  2021 Dev/Junior.AllifyGabriel'"
      ></app-rodape>
    </div>
  </div>
</div>
